# Editor files
##############
.vscode/
.ipynb_checkpoints

# OS files
##########
.DS_Store

# Python files
##############
# setup.py working directory
build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# Caches
__pycache__
# Virtual Environments
.env
.venv
env
venv
causeinfer-dev

# Display files
###############
*_preview.png
*.sketch

# Testing files
###############
testing_files
.coverage
_*.ipynb


# WIP files
###########
grf
generalized_random_forest
